<div style="
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;"
  [ngStyle]="getBackgroundStyle()">
  <div class="left" style="
    width: max(min(250px, 20%), 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;"
  >
    <div style="margin-left: 16px">
      <app-search-bar></app-search-bar>
    </div>
    <div style="position: absolute;z-index:10; top:70px; left:15px; width: max(min(280px, 25%), 150px)">
      <app-links></app-links>
    </div>
  </div>
  <div class="center" style="width: 60%">
    <div style="position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;">
      <app-clock></app-clock>
      <div class="padding-small-dynamic"></div>
      <app-greeting></app-greeting>
    </div>
  </div>
  <div class="right" style="width: 18%;">
    <div class="padding-medium text-right margin-small"
         style="position: absolute; z-index:10; top:10px; right:10px;">
      <app-weather></app-weather>
    </div>
  </div>
</div>
<div style="position: absolute; z-index: 15; bottom: 20px; left: 15px">
  <app-settings></app-settings>
</div>
<div style="position: absolute; z-index: 15; bottom: 20px; right: 15px">
  <app-games></app-games>
</div>
<div style="
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;">
  <div style="width: max(50%, 300px); margin: auto;">
    <app-quote></app-quote>
  </div>
</div>
