<div class="margin-medium no-wrap">
  <mat-icon>search</mat-icon>
  <mat-form-field>
    <mat-label class="lightgray">Search . . .</mat-label>
    <input matInput type="text" [(ngModel)]="value" (keydown.enter)="search()">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button [matMenuTriggerFor]="menu"><img src="{{getIcon(engine.url)}}" height="25" width="25"></button>
  <mat-menu #menu="matMenu">
    <button style="margin: auto; display: flex; align-items: center; justify-content: flex-start;" mat-menu-item *ngFor="let engine_ of engines" (click)="engine = engine_; saveEngine(engine_)">
      <img class="margin-small" src="{{getIcon(engine_.url)}}" height="25" width="25">
      <span class="margin-small">{{engine_.name}}</span>
    </button>
  </mat-menu>
</div>
