/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: lightgray;
}

// base styles
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.lightgray {
  color: lightgray !important;
}

.lightgray-transparent {
  color: rgb(211 211 211 / 80%) !important;
}

.lightgray-transparent-2 {
  color: rgb(211 211 211 / 60%) !important;
}

.font-small {
  font-size: 18px;
}

.font-medium {
  font-size: 22px;
}

.font-large {
  font-size: 36px;
}

.font-xlarge {
  font-size: 48px;
}

.font-xxlarge {
  font-size: 60px;
}

.f-large {
  font-size: large;
}

.pointer {
  cursor: pointer;
}

.pointer :hover {color: lightgray !important;}

.dynamic-font-small {
  font-size: min(max(1vw, 12px), 48px);
}

.dynamic-font-medium {
  font-size: min(max(2vw, 16px), 64px);
}

.dynamic-font-large {
  font-size: min(max(4vw, 24px), 96px);
}

.dynamic-font-xlarge {
  font-size: min(max(10vw, 48px), 192px);
}

.no-wrap {
  text-wrap: nowrap;
}

.light-text-shadow {
  text-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
}

.dark-text-shadow {
  text-shadow: 0px 0px 20px rgb(0 0 0 / 80%);
}

.padding-small {
  padding: 5px;
}

.padding-medium {
  padding: 10px;
}

.padding-small-dynamic {
  padding: max(2vw, 10px);
}

.margin-small {
  margin: 5px;
}

.margin-medium {
  margin: 10px;
}

.margin-large {
  margin: 20px;
}

.responsive-top {
  display: inline-block;
  padding: 5px;
  vertical-align: top;
}

.responsive-center {
  display: inline-block;
  padding: 5px;
  height: 100%;
  vertical-align: middle;
}

.v-middle {
  vertical-align: middle;
}

.float-right {
  float: right;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

// override material styles
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mat-input-underline {
  color: lightslategray;
}

.mdc-list-item__primary-text{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

::ng-deep .mat-tab-header {
  display: none!important;
}

$gray-primary: mat.define-palette(mat.$gray-palette, 400);
$gray-accent: mat.define-palette(mat.$gray-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$gray-warn: mat.define-palette(mat.$gray-palette);

// Define a gray theme
$gray-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette($gray-primary),
    accent: mat.define-palette($gray-accent),
  ),
));

@include mat.all-component-themes($gray-theme);
